<div class="{% if page.layout == 'post' %}bg-white{% else %}bg-light{% endif %} p2 text-center blka">
    <div class="bold">الاشتراك في قناة جرس</div>
    <hr>
    <a href="https://www.youtube.com/channel/UCmyW_hOkXW-qOP_Bh4E1l6A?sub_confirmation=1" target="_blank" class="button primary">اشترك الان</a>
</div>

<div class="is-full-width blka">
    <amp-ad data-ad-client='ca-pub-9321573368454622' data-ad-slot='6102897162' height='600' layout='fixed-height' type='adsense' media='(min-width: 599px)'></amp-ad>

    <amp-ad data-ad-client='ca-pub-9321573368454622' data-ad-slot='6102897162' height='250' layout='fixed-height' type='adsense' media='(max-width: 599px)'></amp-ad>
</div>