---
layout: default
---

<div class="container">
    {% include wide-ad.html %}

    <div class="row">
        <div id="post" class="col-12 col-8-md">
            <article>
                <div class="post bg-white">

                    <header class="post-header">
                        <h1 class="bold text-primary">{{ page.title }}</h1>
                        <p class="post-meta">
                            <time datetime="{{ page.date | date_to_xmlschema }}" >{{ page.date | date: "%b %-d, %Y" }}</time>
                            {% if page.author %} • <span>{{ page.author }}</span>{% endif %}
                        </p>
                        {% if page.type != 'video' %}
                        <amp-img alt="{{ page.title }}" src="{{ page.image }}" width="1200" height="675" layout="responsive"></amp-img>
                        {% endif %}
                    </header>

                    {{ content }}
                    <!--
                    {% include matched-content.html %}
                    -->
                    <div class="my2">
                        <amp-social-share width="55" height="35" type="facebook"></amp-social-share>
                        <amp-social-share width="55" height="35" type="twitter"></amp-social-share>
                        <amp-social-share width="55" height="35" type="whatsapp"></amp-social-share>
                        <amp-social-share width="55" height="35" type="email"></amp-social-share>
                        <amp-social-share width="55" height="35" type="system"></amp-social-share>
                    </div>
                    <div class="related">
                       
                       {% assign prevflag = 1 %}
{% assign nextflag = 1 %}

{% for c in site.category %}
  {% if c.title == page.title %}
    {% assign currentItemIndex = forloop.index0 %}
    {% if forloop.index == 1 %}
      {% assign prevflag = 0 %}
      {% assign nextflag = 1 %}
    {% elsif forloop.index == forloop.length %}
      {% assign prevflag = 1 %}
      {% assign nextflag = 0 %}
    {% endif %}
  {% endif %}
{% endfor %}

{% if prevflag == 1 %}
  {% assign prevItemIndex = currentItemIndex | minus: 1 %}
  {% assign prevPost = site.category[prevItemIndex] %}
  {% if prevPost.url %}
    <a class="prev" rel="prev" href="{{ prevPost.url }}">
        <span>&lt; {{ prevPost.title }}</span>
    </a>
    {% endif %}
{% endif %}

{% if nextflag == 1 %}
  {% assign nextItemIndex = currentItemIndex | plus: 1 %}
  {% assign nextPost = site.category[nextItemIndex] %}
  {% if nextPost.url %}
    <a class="next" rel="next" href="{{ nextPost.url }}">
        <span>{{ nextPost.title }} &gt;</span>
    </a>
    {% endif %}
{% endif %}
                    </div>
                </div>
            </article>
        </div>
        <div class="col-12 col-4-md">
            {% include side.html %}
        </div>
    </div>
</div>

