---
layout: default
---

<div class="container">
    {% include wide-ad.html %}

    <div class="row">
        <div id="post" class="col-12 col-8-md">
            <article>
                <div class="post bg-white">

                    <header class="post-header">
                        <h1 class="h2 bold text-primary">{{ page.title }}</h1>
                        <div class="my2">
                            {% include sharing.html %}
                        </div>
                        <p class="post-meta">
                            <time datetime="{{ page.date | date_to_xmlschema }}" >{{ page.date | date: "%b %-d, %Y" }}</time>
                            {% if page.author %} • <span>{{ page.author }}</span>{% endif %}
                        </p>
                        {% if page.type != 'video' %}
                        <img alt="{{ page.title }}" src="{{ page.image }}" class="is-full-width"/>
                        {% endif %}
                    </header>

                    {{ content }}
                    <!--
                    {% include matched-content.html %}
                    -->
                    <div class="my2">
                        {% include sharing.html %}
                    </div>
                   
                </div>
            </article>
        </div>
        <div class="col-12 col-4-md">
            {% include side.html %}
        </div>
    </div>
</div>

